[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "podvoz-topliva"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "contact"
postPage = "contact"
==
<h1>podvoz-topliva</h1>
{% set posts = blogPosts.posts %}
    {% for post in posts %}
    <div style="justify-content: center;" class="flex flex-wrap  border-2 bg-white py-4 px-2 lg:px-10 justify-evenly text-center items-center my-6 ">
        <p class="sm:w-1/3 w-7/12 ">{{ post.title }}</p>
        <p class='font-extrabold sm:w-1/3 w-7/12'> {{ post.excerpt }}</p>
        <p onclick="orderFormBtn()" class='sm:w-1/3 w-7/12 price-click text-blue-500 font-bold underline cursor-pointer'>Заказать</p>
    </div>
{% endfor %}